.titulo{
    font-family: 'Fleur De Leah';
}

.font-letras{
    font-family: 'Inter';
    font-weight: 100;
}

.estilo-sub-titulo{
    font-size: 1.5rem;
    font-family: 'Inter';
    font-weight: 400;
}

.estilo-texto{
    font-size: 1rem;
}