
.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px; /* Bordas arredondadas */
    padding: 30px; /* Espaçamento interno */
    max-width: 900px; /* Limitar largura para dispositivos maiores */
    margin: 20px auto; /* Centralizar horizontalmente */
}

.time-container {
    display: flex;
    justify-content: space-around; /* Espalha os itens igualmente */
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
    width: 100%; /* Garante que a largura se ajuste */
    margin: 20px 0; /* Espaçamento vertical */
}

.flip-down {
    flex: 1; /* Cada item ocupa espaço igual */
    min-width: 130px; /* Largura mínima para evitar que fiquem muito pequenos */
    margin: 0 10px; /* Espaçamento horizontal entre os itens */
    background: rgba(214, 178, 147, 0.3); /* Fundo dourado translúcido */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

.flip-item {
    font-size: 3rem; /* Tamanho maior para melhor legibilidade */
    color: rgba(214, 178, 147, 1); /* Cor do texto, um tom mais escuro */
    font-family: 'Inter', serif; /* Fonte elegante */
    font-weight: 100;
}

.time-label {
    font-size: 1rem; /* Ajuste o tamanho da fonte conforme necessário */
    color: #808080; /* Cor do rótulo, um tom mais suave */
    font-family: 'Raleway';
}

/* Estilos específicos para dispositivos móveis */
@media (max-width: 768px) {
    .countdown {
        padding: 20px; /* Reduzir o espaçamento interno em telas pequenas */
    }

    .time-container {
        flex-direction: flex; /* Empilha os itens verticalmente em telas menores */
        align-items: center; /* Centraliza os itens */
    }

    .flip-down {
        margin-bottom: 10px; /* Espaçamento entre os itens empilhados */
    }

    .flip-item {
        font-size: 2.5rem; /* Tamanho menor em telas pequenas */
    }
}
